<div>
  <slot />
</div>

<style>
  div {
    width: 100%;
    max-width: var(--main-max-width);
    min-width: var(--main-min-width);
    margin: 0 auto;
  }

  @media (min-width: 1280px) {
    div {
      max-width: var(--main-max-width-lg);
    }
  }
</style>
